
*.cache
*.dll
*.pdb
*.CopyComplete
*.editorconfig
*.exe
*.props
*.targets
*.dylib
*.bin
*.v2
*.vsidx
*.so
obj/Debug/net6.0/AvaloniaApplication2.sourcelink.json
obj/Debug/net6.0/AvaloniaApplication2.csproj.FileListAbsolute.txt
obj/Debug/net6.0/AvaloniaApplication2.AssemblyInfo.cs
obj/Debug/net6.0/Avalonia/resources
obj/Debug/net6.0/Avalonia/references
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/AvaloniaApplication2.csproj.nuget.dgspec.json
bin/Debug/net6.0/voicio.runtimeconfig.json
bin/Debug/net6.0/voicio.deps.json
.vs/AvaloniaApplication2/v17/.suo
*.json
bin/Debug/net6.0/helper.db
ViewModels/CustomSelectionModel.cs
Views/MainWindow.axaml.cs
Views/MainWindow.axaml.cs
AvaloniaApplication2.csproj
.vs/AvaloniaApplication2/v17/TestStore/0/000.testlog
.vs/AvaloniaApplication2/v17/TestStore/0/testlog.manifest
