
*.cache
*.dll
*.pdb
*.CopyComplete
*.editorconfig
*.exe
*.props
*.targets
*.dylib
*.bin
*.v2
*.vsidx
*.so
obj/Debug/net6.0/AvaloniaApplication2.sourcelink.json
obj/Debug/net6.0/AvaloniaApplication2.csproj.FileListAbsolute.txt
obj/Debug/net6.0/AvaloniaApplication2.AssemblyInfo.cs
obj/Debug/net6.0/Avalonia/resources
obj/Debug/net6.0/Avalonia/references
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/AvaloniaApplication2.csproj.nuget.dgspec.json
bin/Debug/net6.0/voicio.runtimeconfig.json
bin/Debug/net6.0/voicio.deps.json
.vs/AvaloniaApplication2/v17/.suo
*.json
bin/Debug/net6.0/helper.db
ViewModels/CustomSelectionModel.cs
Views/MainWindow.axaml.cs
Views/MainWindow.axaml.cs
AvaloniaApplication2.csproj
.vs/AvaloniaApplication2/v17/TestStore/0/000.testlog
.vs/AvaloniaApplication2/v17/TestStore/0/testlog.manifest
bin/Debug/net6.0/voice_model/am/final.mdl
bin/Debug/net6.0/voice_model/conf/mfcc.conf
bin/Debug/net6.0/voice_model/conf/model.conf
bin/Debug/net6.0/voice_model/graph/disambig_tid.int
bin/Debug/net6.0/voice_model/graph/Gr.fst
bin/Debug/net6.0/voice_model/graph/HCLr.fst
bin/Debug/net6.0/voice_model/graph/phones/word_boundary.int
bin/Debug/net6.0/voice_model/ivector/final.dubm
bin/Debug/net6.0/voice_model/ivector/final.ie
bin/Debug/net6.0/voice_model/ivector/final.mat
bin/Debug/net6.0/voice_model/ivector/global_cmvn.stats
bin/Debug/net6.0/voice_model/ivector/online_cmvn.conf
bin/Debug/net6.0/voice_model/ivector/splice.conf
bin/Debug/net6.0/voice_model/README
